.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #f8dfff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    /* justify-content: flex-start;
    align-items: center; */
    height: 10rem;
  }